/* shared */
body{
    background-color: black;
    color: white;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
input[type='checkbox']{
    display: none;
}

/* texts */
.big-title{
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 0px;
    line-height: 0.9;
}
.cursive{
    font-size: 156px;
}
.sec-title{
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}
.sub-sec-title{
    font-size: 28px;
    font-weight: 900;
    margin: 0px;
}
.card-title{
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}
.text-desc-a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}
.text-desc-b{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.text-desc-c{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
}
.text-desc-d{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
}

/* buttons */
.btn-mini{
    background-color: #e6533c;
    padding: 8px 20px;
    border-radius: 46px;
    font-weight: 600;
    text-decoration: none;
}
.btn-primary{
    max-width: fit-content;
    min-width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    background-color: #e6533c;
    border-radius: 42px;
}
.btn-secondary{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 16px 40px;
    border: 1px solid white;
    border-radius: 42px;
}


/* header area */
header{
    background: rgba(255, 255, 255, 0.1);
}
/* Navbar */
nav{
    position: relative;
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
#hamburger{
    display: none;

}
.hamburg{
    width: 30px;
    border: 2px solid white;
    border-radius: 2px;
    margin: 2px 0px;
}
.brand{
    font-size: 36px;
    color: #e6533c;
}
.nav-line{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav-btns{
    display: flex;
    list-style-type: none;
    gap: 20px;
    /* width: 35%; */
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 5px;
    padding-right: 15px;
    border-radius: 50px;
}

/* banner */
#banner{
    display: flex;
    width: 80vw;
    margin: auto;
}
.banner-txts-btns{
    width: 60%;

}
.head-btns{
    display: flex;
    gap: 20px;
}
.head-txt-block{
    margin: 0px auto 50px;
}

.banner-img{
    position: relative;
}

#box-a{
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 20px;
    position: absolute;
    right: -20px;
    top: 100px;
}
#box-a h3{
    font-size: 40px;
    font-weight: 900;
    margin: 0px;
}
#box-a p{
    margin: 0px;
}

#box-b{
    background: rgba(57, 57, 57, 0.3);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 20px;
    position: absolute;
    left: -60px;
    bottom: 100px;

    display: flex;
    gap: 10px;
    align-items: center;
}
#box-b h4{
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
}
#box-b p{
    margin: 0px;
}
.ball{
    background-color: #e6533c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle{
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-color: white;
}


/* mains */
/* habits section */

#habit{
    max-width: 80vw;
    margin: 100px auto;
}
.habit-title{
    text-align: center;
    width: 60%;
    margin: 50px auto 80px;
}
.habits{
    display: flex;
    justify-content: space-between;
}
.habit-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.habit-card p{
    margin: 0px;
}
.habit-card img{
    clip-path: circle(50%);
}

/* run */

#run{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(80vw - 30px);
    background: #222222;
    padding: 30px;
    border-radius: 18px;
    margin: auto auto 50px;
    gap: 30px;
}
.run-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60%;
}
#run-img{
    width: 30%;
    height: 200px;
    background: url("../images/run.jpg");
    background-size: 270%;
    background-position: 70% 30%;
    border-radius: 18px;
}

/* excercises section */

#exercises{
    max-width: 80vw;
    margin: 100px auto 50px;
}
.exc-txt{
    margin: auto auto 50px;
}
.exc-imgs{
    display: grid;
    width: 100%;
    height: 403px;
    grid-template-rows: 1fr 1fr;
}
#exc-a{
    display: grid;
    grid-template-columns: 5fr 10fr 6fr;
}
#exc-b{
    display: grid;
    grid-template-columns: 8fr 6fr 7fr;
}
#cyan{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding: 0px 20px;
    background: url("../images/exercise1.jpg"), #06ffd180;
    background-blend-mode: multiply;
    background-size: cover;
}
#cyan p{
    color: black;
}
#red{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 20px;
    background: url("../images/exercise2.png"), #ff00004d;
    background-blend-mode: multiply;
    background-size: cover;
}
#gray{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 20px;
    background: url("../images/exercise3.png"), #00000080;
    background-blend-mode: multiply;
    background-size: cover;
}
#black{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 20px;
    background: url("../images/exercise4.png"), #00000080;
    background-blend-mode: multiply;
    background-size: cover;
}
#green{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 20px;
    background: url("../images/exercise5.jpg"), #42ff004d;
    background-blend-mode: multiply;
    background-size: cover;
}
#blue{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 20px;
    background: url("../images/exercise6.jpg"), #0047ff4d;
    background-blend-mode: multiply;
    background-size: cover;
}

/* bmi calculator */

/* chart */
.calculator-area{
    background-color: #222222;
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 50px 0;
    margin-bottom: 50px;
}
.bmi-txts{
    max-width: fit-content;
    margin: 0 auto 70px;
}
#bmi-calc table{
    border-collapse: collapse;
}
#bmi-calc th, #bmi-calc td{
    border: 1px solid #ffffff1a;
    padding: 14px;
    text-align: left;
}
#bmi-calc td{
    color: #ffffff80;
}

/* calculator */
#calculator-thing{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 10px;
}
#activity-fact{
    grid-column: span 2;
}
.inp-a{
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 8px;
}

/* meet our team */
#team-intro{
    margin-top: 50px;
}
.team-pics{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    max-width: calc(80vw - 40px);
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px auto;
    border-radius: 18px;
    background-color: #ffffff1a;
}
.trainer{
    width: 31%;
    border-radius: 18px;
    background-blend-mode: multiply;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.trainer h4, .trainer p{
    margin: 3px 20px;
}
.trainer p{
    margin-bottom: 20px;
}
.trainer-name{
    font-size: 20px;
    font-weight: 900;
}

/* footer */
footer{
    background-color: #ffffff1a;
    padding-bottom: 10px;
}
.footer-title{
    font-size: 70px;
    color: #e6533c;
    margin-bottom: 0px;
}
.footer-sub-title{
    font-size: 32px;
    font-weight: 700;
}
.footer-desc{
    font-size: 23px;
    color: #ffffff80;
}
.info{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: 30px auto;
}
.team-txt{
    max-width: 80vw;
    margin: auto;
}

/* tablet responsive */
@media screen and (max-width: 992px) and (min-width: 576px){
    #banner{
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .banner-txts-btns{
        width: 90%;
    }
    #box-a{
        right: -20px;
        top: 70px;
    }

    .habits{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
    }
    .habit-card{
        max-width: 40%;
    }

    .bmi-txts{
        margin: 0 10vw 70px;
    }
    .calculator-area{
        flex-direction: column;
        padding: 10vw;
    }
}

/* mobile responsive */
@media screen and (max-width: 576px) {
    .sec-title{
        font-size: 32px;
    }
    #hamburger{
        display: flex;
        flex-direction: column;
    }
    input[type='checkbox']:not(:checked)+ul {
        display: none;
    }
    .nav-btns{
        flex-direction: column;
        position: absolute;
        right: -25px;
        bottom: -150px;
        padding: 20px 10px;
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.346);
    }
    .btn-primary{
        width: fit-content;
        min-width: none;
    }
    .banner-img img{
        max-width: 80vw;
    }
    
    #banner{
        flex-direction: column;
        width: 80vw;
    }
    .banner-txts-btns{
        width: 70%;
    }
    .big-title{
        font-size: 36px;
    }
    .cursive{
        font-size:  42px;
    }
    .head-btns{
        flex-direction: column;
    }

    #box-a{
        right: -20px;
        top: 70px;
        padding: 10px;
    }
    #box-a h3{
        font-size: 28px;
    }
    #box-a p{
        font-size: 12px;
    }
    #box-b{
        left: -20px;
        bottom: 120px;
    }

    #habit{
        margin: 0px auto 50px;
    }
    .habit-title{
        width: 100%;
    }
    .habits{
        flex-direction: column;
        gap: 40px;
    }


    #run{
        flex-direction: column;
    }
    #run div{
        max-width: none;
        width: 100%;
    }
    #run .btn-primary{
        width: unset;
        max-width: none;
    }

    .exc-imgs{
        height: 255px;
    }
    #gray, #blue{
        display: none;
    }
    #red{
        background-position: right;
    }
    #exc-a{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #exc-b{
        display: grid;
        grid-template-columns: 7fr 8fr;
    }

    .bmi-txts{
        margin: 0 10vw 70px;
    }
    .calculator-area{
        flex-direction: column;
        padding: 10vw;
    }

    .team-pics{
        flex-direction: column;
    }
    .trainer{
        width: auto;
    }

    .info{
        flex-direction: column;
    }

}